.page-auth {
  background-color: rgb(10, 53, 46);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-section__container {
  background-color: white;
  width: 360px;
  height: 500px;
  padding: 40px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: 0px 0px 10px 1px black; */
}

.auth-header {
  position: relative;
}

.auth-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px; /* Border width */
  height: 1px; /* Border thickness */
  background-color: gray; /* Border color */
}

.auth-header h1{
  color: var(--text-gray);
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.auth-form input {
  height: 40px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: calc(var(--border-radius) / 2);
  outline: none;
}

.auth-form button {
  height: var(--button-height);
  border: none;
  border-radius: calc(var(--border-radius) / 2);
  background-color: var(--primary-green);
  color: white;
  font-size: 1rem;
}

.auth-footer {
  font-size: 0.9rem;
  text-align: center;
  position: relative;
  padding-top: 20px;
}

.auth-footer span {
  font-weight: 500;
  cursor: pointer;
  color: var(--primary-green);
}

.auth-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%; /* Move to center */
  transform: translateX(-50%); /* Center it */
  width: 100px; /* Border width */
  height: 1px; /* Border thickness */
  background-color: gray; /* Border color */
}

/* ===========
Signup Styling
=========== */
.image-username__container {
  width: 100%;
  display: flex;
  align-items: end;
  gap: var(--gap);
}

.image-username__container .image__container {
  width: 35%;
}

.image-username__container input {
  width: 65%;
}

.image__container {
  position: relative;
  border: 1px solid gray;
  width: 100%;
  aspect-ratio: 1;
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image__container:hover {
  background-color: rgba(31, 138, 120, 0.2);
  cursor: pointer;
}

.image__container input {
  display: none;
}

.image__container .delete {
  position: absolute;
  font-size: 1.7rem;
  top: -8px;
  right: 3px;
  color: rgb(192, 0, 0);
  cursor: pointer;
}

.image__container .add {
  position: absolute;
  font-size: 1.3rem;
  bottom: 2px;
  right: 2px;
  border-radius: 50px;
  background-color: gray;
  color: white;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon {
  max-width: 100%; /* Icon scales within container */
  max-height: 100%;
  padding: 8px;
  object-fit: contain; /* Keeps icon proportionate */
}


.user-icon path, 
.user-icon circle {
  fill: gray;
}