.page-blog {
  display: flex;
  justify-content: center;
}

.blog__container {
  max-width: 650px;
  width: 100%;
  margin: var(--margin);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.blog__container header {
  color: var(--text-gray);
  font-size: 2rem;
  font-weight: 800;  
}

.user-date__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px 0px; */
}

.user-date__container .date{
  font-style: italic;
  color: var(--text-gray);
  font-weight: 500;
}

.blog-image__container {
  width: 100%;
  aspect-ratio: 3/1;
  /* height: 200px; */
  border-radius: var(--border-radius);
  overflow: hidden;
}

.blog-buttons__container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.blog-buttons__container > button,
.blog-buttons__container > a {
  flex: 1;
  padding: 0px 10px;
  height: var(--button-height);
  border: none;
  border-radius: calc(var(--border-radius) / 2);
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-gray);
}

.blog-buttons__container .yellow-button {
  background-color: rgb(248, 213, 137);
}

.blog-buttons__container .yellow-button:hover {
  background-color: rgb(226, 186, 99);
}

.blog-buttons__container .red-button {
  background: transparent;
  border: 2px solid var(--primary-red);
  color: var(--primary-red);
}
.blog-buttons__container .red-button:hover {
  background-color: var(--primary-red);
  color: white;
}

.blog-buttons__container .green-button {
  background-color: rgb(137, 230, 173);
}
.blog-buttons__container .green-button:hover {
  background-color: rgb(104, 190, 150);
}

.blog-status {
  background-color: var(--light-gray);
  padding: 10px 15px;
  text-transform: capitalize;
  border-radius: var(--border-radius);
  color: var(--text-gray);
}

.blog-status > span {
  font-weight: bold;
}

.feedback__container {
  background-color: rgb(236, 236, 236);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.feedback__container > header {
  font-size: 1rem;
  background-color: var(--light-gray);
  padding: 10px 15px;
}

.feedback__container > span {
  margin: 15px;
  font-size: 1rem;
  display: block;
}

.feedback-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap);
}

.feedback-form textarea {
  flex: 4;
  min-height: 100px;
  min-width: 350px;
  width: 100%;
  background-color: rgb(233, 233, 233);
  border-radius: calc(var(--border-radius) / 2);
  border: none;
  outline: none;
  padding: 10px;
  resize: vertical;
}

.feedback-form button {
  flex: 1;
  min-height: 100px;
  width: 100%;
  border-radius: calc(var(--border-radius) / 2);
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--text-gray);
  color: white;
  padding: 10px;
}

.feedback-form button:hover {
  background-color: white;
  color: var(--text-gray);
  border-color: var(--text-gray);
}

