.admin-layout__container > main {
  margin-left: var(--admin-navbar-width);
}

.admin-navigation {
  background-color: white;
  border-right: 1px solid rgb(202, 202, 202);
  box-shadow: var(--primary-shadow);
  height: 100%;
  overflow-y: auto;
  width: var(--admin-navbar-width);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 10;
}

.admin-profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  padding: var(--margin);
  width: 100%;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.admin-profile__container figure {
  background-color: var(--light-gray);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.admin-profile__container figure .user-icon {
  width: 100%;
  height: 100%;
  padding: 25px;
}

.admin-profile__container figure .user-icon circle,
.admin-profile__container figure .user-icon path {
  fill: gray;
}

.admin-profile__container header {
  font-weight: 500;
  color: var(--text-gray);
}

.admin-nav-list__container {
  width: 100%;
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 1.5);
}

.admin-nav-list__container li {
  width: 100%;
}

.admin-nav-list__container a {
  text-decoration: none;
  color: var(--text-gray);
  height: 50px;
  border-radius: var(--border-radius);
  box-shadow: var(--primary-shadow);
  display: flex;
  align-items: center;
  padding: 10px 40px;
}

.admin-nav-list__container a.active {
  background-color: rgb(31, 138, 120);
  color: white;
}
.admin-nav-list__container a:not(.active):hover {
  background-color: rgba(31, 138, 120, 0.308);
}

.admin-navbar {
  display: none;
  
}

.admin-menu-icon__container {
  margin: 20px var(--margin);
  width: 30px;
  height: 30px;
}

.admin-menu-icon {
  width: 100%;
  height: 100%;
  color: var(--text-gray);
}

@media (max-width: 768px) {
  .admin-navigation {
    width: calc(var(--admin-navbar-width) - 50px);
  }

  .admin-navigation.hide {
    transform: translateX(calc(-1 * var(--admin-navbar-width)));
  }
  .admin-navigation.show {
    transform: translateX(0);
  }

  .admin-layout__container > main {
    margin-left: 0;
    margin-top: var(--navbar-height);
    overflow: hidden;
  }

  .admin-navbar {
    display: block;
    background-color: white;
    border-bottom: 1px solid rgb(202, 202, 202);
    width: 100%;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
  }
}