.blog-card__container {
  background-color: var(--secondary-white);
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.blog-card__image {
  width: 100%;
  height: 180px;
}

.blog-card__content {
  margin: calc(var(--default-spacing)/2);
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  /* gap: 30px; */
}

.blog-card__title {
  font-size: 1.2rem;
  display: -webkit-box; /* Use a flexible box for multi-line clamping */
  -webkit-box-orient: vertical; /* Make the box vertical */
  overflow: hidden; /* Hide overflowing content */
  -webkit-line-clamp: 4; /* Limit to two lines */
}

.blog-card__preview {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
}

.blog-card__avatar-container {
  position: absolute;
  bottom: 0px;
}





