.page-admin-dashboard {
  margin: var(--margin);
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 2);
}

.page-admin-dashboard > section {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.page-admin-dashboard > section > header {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-gray);
}

.blogs-type-count__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: var(--gap);
}

.blog-type-count__container {
  position: relative;
  width: 250px;
  height: 150px;
  background-color: rgb(179, 179, 179);
  border-radius: var(--border-radius);
  padding: 20px;
}

.blog-type-count__container span {
  line-height: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

.blog-type-count__container header {
  line-height: 1;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: white;
}

.published {
  background-color: var(--primary-green);
}
.pending {
  background-color: rgb(235, 164, 57);
}
.rejected {
  background-color: var(--primary-red);
}
.archived {
  background-color: var(--text-gray);
}
