.layout__container main {
  margin-top: var(--navbar-height);
}

.user-navigation {
  flex: 1;
  background-color: white;
  border-bottom: 1px solid rgb(202, 202, 202);
  width: 100%;
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--margin);
}

.user-navigation header {
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.user-navigation .nav-list__container {
  list-style: none;
  display: flex;
  gap: var(--gap);
}

.user-navigation header a {
  text-decoration: none;
  color: var(--dark-green);
}

.user-navigation .nav-list__container a {
  text-decoration: none;
  color: var(--text-gray);
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

.user-navigation .nav-list__container a.active {
  color: var(--primary-green);
  border-bottom: 2px solid var(--primary-green);
}

.user-navigation .nav-list__container a:hover {
  color: var(--primary-green);
}


