.layout__container > main {
  margin-top: var(--navbar-height);
}

.user-navigation {
  flex: 1;
  background-color: white;
  border-bottom: 1px solid rgb(202, 202, 202);
  width: 100%;
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--margin);
  z-index: 10;
}

.user-navigation header {
  font-family: 'Times New Roman', Times, serif !important;
  font-size: 1.5rem;
  font-style: italic;
}

.user-navigation > section {
  display: flex;
  gap: var(--gap);
}

.user-navigation .nav-list__container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.user-navigation header a {
  text-decoration: none;
  color: var(--dark-green);
}

.user-navigation .nav-list__container a {
  text-decoration: none;
  color: var(--text-gray);
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

.user-navigation .nav-list__container a.active {
  color: var(--primary-green);
  border-bottom: 2px solid var(--primary-green);
}

.user-navigation .nav-list__container a:hover {
  color: var(--primary-green);
}

.user-navigation .expand-icon__container {
  width: 40px;
  height: 40px;
  color: var(--text-gray);
  cursor: pointer;
}
.user-navigation .expand-icon__container .expand-icon {
  width: 100%;
  height: 100%;
}

.user-navigation .side-bar-list__container {
  display: none;
}

.user-navigation .side-bar-list__container {
  display: block;
  position: absolute;
  right: var(--margin);
  top: calc(var(--navbar-height) + 10px);
  border: 1px solid gray;
  border-radius: var(--border-radius);
  box-shadow: var(--primary-shadow);
  background-color: white;
  overflow: hidden;
}



.user-navigation .side-bar-list__container li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.user-navigation .side-bar-list__container li a {
  color: var(--text-gray);
  text-decoration: none;
  padding: 15px 40px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.user-navigation .side-bar-list__container li:not(:last-child) a {
  border-bottom: 1px solid gray;
}

.user-navigation .side-bar-list__container li a:hover {
  color: var(--primary-green);
}

.user-navigation .side-bar-list__container li a.active {
  background-color: var(--primary-green);
  color: white;
}

.side-bar-list__container.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);

}
.side-bar-list__container.inactive {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-10px);
}

.side-bar-list__container .mobile-view {
  display: none !important;
}

.scroll-to-top__container {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: var(--margin);
  bottom: var(--margin);
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  background-color: white;
  color: var(--text-gray);
  cursor: pointer;
  z-index: 99;
}
.scroll-to-top__container.show {
  opacity: 1;
  pointer-events: auto;
  
}

.scroll-to-top__container .up-arrow-icon {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {

  .user-navigation .nav-list__container {
    display: none;
  }

  .side-bar-list__container .mobile-view {
    display: flex !important;
  }

}
