.navigation-container {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--default-spacing);
  border-bottom: 1px solid gray;
  position: sticky;
  background-color: var(--primary-white);
  top: 0;
  z-index: 10;
}

.navigation-container a h1 {
  font-style: italic;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}


.navigation-container nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav-item a:is(:hover, :active, .active)  {
  color: var(--primary-green)
}