.page-blogs {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 2);
  margin-bottom: var(--margin);
}

.page-blogs > section:not(:first-child) {
  margin: 0 var(--margin);
}

.blogs__container > span {
  padding: var(--margin);
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-gray);
  height: 100vh;
}

.status__container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap) / 2);
}

.status-card {
  background-color: var(--text-gray);
  color: white;
  width: fit-content;
  text-align: center;
  padding: 10px 20px;
  border-radius: calc(var(--border-radius) / 2);
  border: 2px solid var(--text-gray);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
}

.status-card.active {
  background-color: var(--light-gray);
  color: var(--text-gray);
  border-color: transparent;
}

.status-card:hover {
  background-color: var(--light-gray);
  color: var(--text-gray);
}

.blog-view-switcher {
  position: relative;
  width: 180px;
  height: 30px;
  background-color: var(--light-gray);
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  overflow: hidden;
}

.blog-view-switcher > div {
  width: 50%;
  padding: 5px 8px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-gray);
  gap: 8px;
  z-index: 1;
  cursor: pointer;
}

.blog-view-switcher > div > span {
  color: var(--text-gray);
  font-size: 0.8rem;
  font-weight: 600;
}


.blog-view-switcher > div.active {
  color: white;
}

.blog-view-switcher > span.active-table {
  transform: translateX(100%);
}


.blog-view-switcher div.active > span {
  color: white;
}

.blog-view-switcher > span {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: var(--primary-green);
}