.full-height {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.button {
  border: 3px solid white;
  border-bottom-color: transparent;
  width: 20px;
  height: 20px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--primary-green);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 